.el-slider__bar {
    background-color: #081842;
}

.el-slider__button {
    border-color: #081842;
}

.new-exam {
    height: 60vh;
}

    .new-exam .main-content {
        margin-top: 1rem;
        position: relative;
    }

        .new-exam .main-content .transfer {
            position: absolute;
            /*top: -2rem;*/
            left: 28rem;
            flex-direction: column;
            height: 100%;
        }


        .new-exam .main-content .el-checkbox {
            width: 70%;
        }

        .new-exam .main-content .el-transfer {
            height: 100%;
        }

        .new-exam .main-content .el-transfer-panel .el-transfer-panel__header {
            height: 2.2rem;
            padding: 0.5rem;
        }

.exam-time-slider {
    width: 16rem;
}

.new-exam .el-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.new-exam .el-form-item {
    display: flex;
}

.new-exam .el-form-item__label {
    flex: 1;
}

.new-exam .el-form-item__content {
    flex: 9;
}

.new-exam .content {
    width: 16rem;
}

.new-exam .el-form-item__label {
    padding-left: 12px;
    padding-right: 0;
}

.new-exam .submit-btn {
    width: 24rem;
    margin-top: 1rem;
}

    .new-exam .submit-btn .el-form-item__content {
        display: flex;
        justify-content: center;
    }
