.title-editor-wrap {
    height: 6rem;
    margin-bottom: 6rem;
}

.title-editor {
    margin-top: 0.5rem;
}

.fill-editor-wrap {
    margin-bottom: 8rem !important;
}

.new-question .answers {
    display: flex;
    flex-direction: row;
}

.new-question .submit-btn {
    text-align: center;
    margin-bottom: 0;
}

.new-question .answers .el-form-item__label {
    width: 5rem;
    text-align: center;
}

.new-question .true-answer .el-form-item__label {
    color: #67C23A;
}

.new-question .false-answer .el-form-item__label {
    color: #F56C6C;
}

.new-question .answers .el-form-item__content {
    flex: 10;
}

.new-question .el-dialog__body {
    text-align: center;
}

.new-question .score-change,
.new-question .select-tag {
    margin-top: 0.5rem;
}

.new-question .score-change .el-input-number__decrease,
.new-question .score-change .el-input-number__increase {
    height: 95% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-question .multiple .answers {
    margin-bottom: 0.5rem;
}

.new-question .multiple .el-checkbox {
    margin-right: 1rem;
}

    .new-question .multiple .el-checkbox.is-bordered + .el-checkbox.is-bordered {
        margin-left: 0;
    }


.submit-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}