
@{
  Layout = null;
}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Scripts.Render("~/bundles/axios")
@Styles.Render("~/Content/elementcss")


<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>安阳市人民警察训练学校在线考试系统</title>
  <link href="~/Static/css/default.css" rel="stylesheet" />
  <link href="~/Static/css/start-exam.css" rel="stylesheet" />
</head>
<body>
  <div id="app">
    <el-page-header @@back="goBack" content="考试界面" class="header"></el-page-header>
    <div>
      <el-card class="exam-card" v-loading="isLoading">
        <h2 class="title">{{ title }}</h2>
        <p class="time">
          <span>考试时间：{{ start.toLocaleString() }} - {{ end.toLocaleString() }}</span>
          <span>剩余时间：{{ timer }}</span>
        </p>
        <el-divider></el-divider>
        <div class="single-wrap">
          <p class="single-title">一、选择题</p>
          <ul>
            <li class="single-item" v-for="item,index in singles" :key="item.EsId">
              <span class="title-index">{{index + 1}}.</span>
              <div v-html="item.SQTitle" class="title-content"></div>
              <el-radio-group v-model="item.ans[0]">
                <el-radio :label="singleSort[index][0]">A. {{item[singleSort[index][0]]}}</el-radio>
                <el-radio :label="singleSort[index][1]">B. {{item[singleSort[index][1]]}}</el-radio>
                <el-radio :label="singleSort[index][2]">C. {{item[singleSort[index][2]]}}</el-radio>
                <el-radio :label="singleSort[index][3]">D. {{item[singleSort[index][3]]}}</el-radio>
              </el-radio-group>
            </li>
          </ul>
        </div>
        <div class="multiple-wrap">
          <p class="multiple-title">二、多选题</p>
          <ul>
            <li class="multiple-item" v-for="item,index in multiples" :key="item.EsId">
              <span class="title-index">{{index + 1}}.</span>
              <div v-html="item.MQTitle" class="title-content"></div>
              <el-checkbox-group v-model="item.ans">
                <el-checkbox v-if="item[multipleSort[index][0]] != null" :label="multipleSort[index][0]">{{item[multipleSort[index][0]]}}</el-checkbox>
                <el-checkbox v-if="item[multipleSort[index][1]] != null" :label="multipleSort[index][1]">{{item[multipleSort[index][1]]}}</el-checkbox>
                <el-checkbox v-if="item[multipleSort[index][2]] != null" :label="multipleSort[index][2]">{{item[multipleSort[index][2]]}}</el-checkbox>
                <el-checkbox v-if="item[multipleSort[index][3]] != null" :label="multipleSort[index][3]">{{item[multipleSort[index][3]]}}</el-checkbox>
                <el-checkbox v-if="item[multipleSort[index][4]] != null" :label="multipleSort[index][4]">{{item[multipleSort[index][4]]}}</el-checkbox>
                <el-checkbox v-if="item[multipleSort[index][5]] != null" :label="multipleSort[index][5]">{{item[multipleSort[index][5]]}}</el-checkbox>
                <el-checkbox v-if="item[multipleSort[index][6]] != null" :label="multipleSort[index][6]">{{item[multipleSort[index][6]]}}</el-checkbox>
              </el-checkbox-group>
            </li>
          </ul>
        </div>
        <div class="judgment-wrap">
          <p class="judgment-title">三、判断题</p>
          <ul>
            <li class="judgment-item" v-for="item,index in judgments" :key="item.EsId">
              <span class="title-index">{{index + 1}}.</span>
              <div v-html="item.JQTitle" class="title-content"></div>
              <el-radio-group v-model="item.ans[0]">
                <el-radio :label="judgmentSort[index][0]">{{item[judgmentSort[index][0]]}}</el-radio>
                <el-radio :label="judgmentSort[index][1]">{{item[judgmentSort[index][1]]}}</el-radio>
              </el-radio-group>
            </li>
          </ul>
        </div>
        <div class="fill-wrap">
          <p class="fill-title">四、填空题</p>
          <ul>
            <li class="fill-item" v-for="item,index in fills" :key="item.EsId">
              <span class="title-index">{{index + 1}}.</span>
              <div v-html="item.FQTitle" class="title-content"></div>
              <div class="fill-answer">
                <p v-for="num,numIdx in fillAnsNum[index]" :key="numIdx" class="fill-answer-item">
                  <span>第{{numIdx + 1}}个空：</span>
                  <el-input v-model="item.ans[numIdx]" placeholder="请输入内容"></el-input>
                </p>
              </div>
            </li>
          </ul>
        </div>
        <el-divider></el-divider>
        <div class="btns">
          <el-button @@click="save">保 存</el-button>
          <el-button type="success" @@click="onSubmit">交 卷</el-button>
        </div>
      </el-card>
    </div>
  </div>
</body>
</html>

<script>
  new Vue({
    el: '#app',
    data: {
      start: new Date(),
      end: new Date(),
      isLoading: false,
      userName: '',
      partId: 0,
      title: '',
      fills: [],
      fillAnsNum: [],
      judgments: [],
      multiples: [],
      singles: [],
      singleSort: [],
      multipleSort: [],
      judgmentSort: [],
      answers: null,
      timer: null
    },
    methods: {
      // 提交并获取分数
      onSubmit() {
        this.isLoading = true;
        var id = localStorage.getItem('id');
        var ansStr = JSON.stringify(this.getAnswer());
        axios.post('/StartExam/FinishExam', { ansStr, id }).then(res => {
          this.isLoading = false;
          var data = res.data;
          if (data.code === 1) {
            return this.$message.error(data.message);
          }

          var score = data.singleScore + data.multipleScore + data.judgmentScore + data.fillScore;

          return this.$confirm('您的成绩为：' + score, '考试结束，请离开考场', {
            confirmButtonText: '确定',
            type: 'warning'
          }).then(() => {
            this.goBack();
          }).catch(() => {
            this.goBack();
          });
        });
      },
      goBack() {
        window.location.href = '/Home/Index';
      },
      // 验证是否可以参加考试
      doAuth() {
        this.isLoading = true;
        var id = localStorage.getItem('id');
        axios.post('/StartExam/Auth', { id }).then(res => {
          var data = res.data;

          if (data.code === 1) {
            return this.$confirm(data.message, '提示', {
              confirmButtonText: '确定',
              type: 'error'
            }).then(() => {
              this.goBack();
            }).catch(() => {
              this.goBack();
            });
          }

          var current = new Date();
          var start = new Date(data.start);
          var end = new Date(data.end);
          console.log(data);
          if (current >= start && current <= end) {
            this.start = start;
            this.end = end;



            this.userName = data.name;
            this.partId = data.partId;

            this.getPaper();
          } else if (current < start) {
            return this.$confirm('当前考试未开始', '提示', {
              confirmButtonText: '确定',
              type: 'error'
            }).then(() => {
              this.goBack();
            }).catch(() => {
              this.goBack();
            });
          } else {
            return this.$confirm('当前考试已结束', '提示', {
              confirmButtonText: '确定',
              type: 'error'
            }).then(() => {
              this.goBack();
            }).catch(() => {
              this.goBack();
            });
          }
        });

      },
      // 检查是否登录
      checkUser() {
        var id = localStorage.getItem('id');

        if (id === null) {
          return this.$confirm("请登录", '提示', {
            confirmButtonText: '确定',
            type: 'error'
          }).then(() => {
            this.goBack();
          }).catch(() => {
            this.goBack();
          });
        }
      },
      // 获取试卷
      getPaper() {
        this.isLoading = true;
        var userId = localStorage.getItem('id');
        axios.post("/StartExam/CreateExamPaper", {
          partId: this.partId,
          userId,
        }).then(res => {
          this.isLoading = false;
          var data = res.data;

          if (data.code === 1) {
            this.$confirm(data.message, '提示', {
              confirmButtonText: '确定',
              type: 'error'
            }).then(() => {
              this.goBack();
            }).catch(() => {
              this.goBack();
            });
          }

          this.title = data.title;

          // 添加单选题答案存放数组
          for (var i = 0; i < data.singles.length; i++) {
            //data.singles[i].ans = '';
            data.singles[i].ans = [];
            data.singles[i].ans.push('');
          }
          this.singles = data.singles;

          // 添加多选题答案存放数组
          for (var i = 0; i < data.multiples.length; i++) {
            data.multiples[i].ans = [];
          }
          this.multiples = data.multiples;

          // 添加判断题答案存放数组
          for (var i = 0; i < data.judgments.length; i++) {
            //data.judgments[i].ans = '';
            data.judgments[i].ans = [];
            data.judgments[i].ans.push('');
          }
          this.judgments = data.judgments;

          // 添加填空题答案存放数组
          for (var i = 0; i < data.fills.length; i++) {
            data.fills[i].ans = [];
            for (var j = 0; j < data.fillAnsNum[i]; j++) {
              data.fills[i].ans[j] = '';
            }
          }

          this.fills = data.fills;
          this.fillAnsNum = data.fillAnsNum;

          if (data.answers != null) {
            this.answers = data.answers;
            this.loadAnswer(this.answers);
          }


          this.setSingleSort(this.singles.length);
          this.setMultipleSort(this.multiples.length);
          this.setJudgmentSort(this.judgments.length);
        });
      },
      // 随机排序
      shuffle(arr) {
        var len = arr.length;
        for (var i = 0; i < len - 1; i++) {
          var index = parseInt(Math.random() * (len - i));
          var temp = arr[index];
          arr[index] = arr[len - i - 1];
          arr[len - i - 1] = temp;
        }
        return arr;
      },
      // 打乱单选题选项
      setSingleSort(length) {
        for (var i = 0; i < length; i++) {
          this.singleSort.push(this.shuffle(['SQAns1', 'SQAns2', 'SQAns3', 'SQTrueAns']));
        }
      },
      // 打乱多选题选项
      setMultipleSort(length) {
        for (var i = 0; i < length; i++) {
          this.multipleSort.push(this.shuffle(['MQAns1', 'MQAns2', 'MQAns3', 'MQAns4', 'MQAns5', 'MQAns6', 'MQAns7']));
        }
      },
      // 打乱判断题选项
      setJudgmentSort(length) {
        for (var i = 0; i < length; i++) {
          this.judgmentSort.push(this.shuffle(['JQFalseAns', 'JQTrueAns']));
        }
      },
      // 获取答案
      getAnswer() {
        var answers = [];
        for (var i = 0; i < this.singles.length; i++) {
          var single = this.singles[i];
          answers.push({ EsId: single.EsId, ans: single.ans });
        }
        for (var i = 0; i < this.multiples.length; i++) {
          var multiple = this.multiples[i];
          answers.push({ EsId: multiple.EsId, ans: multiple.ans });
        }
        for (var i = 0; i < this.judgments.length; i++) {
          var judgment = this.judgments[i];
          answers.push({ EsId: judgment.EsId, ans: judgment.ans });
        }
        for (var i = 0; i < this.fills.length; i++) {
          var fill = this.fills[i];
          answers.push({ EsId: fill.EsId, ans: fill.ans });
        }
        return answers;
      },
      // 保存答案
      save() {
        this.isLoading = true;
        var id = localStorage.getItem('id');
        var ansStr = JSON.stringify(this.getAnswer());
        axios.post('/StartExam/SaveLog', { ansStr, id }).then(res => {
          this.isLoading = false;
          var data = res.data;
          if (data.code === 1) {
            return this.$message.error(data.message);
          }

          return this.$message({
            message: data.message,
            type: 'success'
          });
        });
      },
      // 加载保存的答案
      loadAnswer(ansStr) {
        var ansObj = JSON.parse(ansStr);

        var singleLength = this.singles.length;
        var multipleLength = this.multiples.length;
        var judgmentLength = this.judgments.length;
        var fillLength = this.fills.length;

        for (var i = 0; i < ansObj.length; i++) {
          for (var j = 0; j < singleLength; j++) {
            if (this.singles[j].EsId === ansObj[i].EsId) {
              this.singles[j].ans = ansObj[i].ans;
            }
          }
          for (var j = 0; j < multipleLength; j++) {
            if (this.multiples[j].EsId === ansObj[i].EsId) {
              this.multiples[j].ans = ansObj[i].ans;
            }
          }
          for (var j = 0; j < judgmentLength; j++) {
            if (this.judgments[j].EsId === ansObj[i].EsId) {
              this.judgments[j].ans = ansObj[i].ans;
            }
          }
          for (var j = 0; j < fillLength; j++) {
            if (this.fills[j].EsId === ansObj[i].EsId) {
              this.fills[j].ans = ansObj[i].ans;
            }
          }
        }
      },
      // 获得剩余时间
      getDiffTime() {
        var diff = new Date(this.end).getTime() - new Date().getTime();
        var temp1 = diff % (24 * 3600 * 1000);
        var h = Math.floor(temp1 / (3600 * 1000));
        var temp2 = temp1 % (3600 * 1000)
        var m = Math.floor(temp2 / (60 * 1000));
        var temp3 = temp2 % (60 * 1000);
        var s = Math.round(temp3 / 1000);

        return h + '小时' + m + '分钟' + s + '秒';
      },
      // 倒计时
      setCountDown() {
        var clock = window.setInterval(() => {
          var time = this.getDiffTime();
          this.timer = time;
          if (time === '0小时0分钟0秒') {
            window.clearInterval(clock);
          }
        }, 1000);
      }
    },
    watch: {
      timer: function (val) {
        if (val == '0小时0分钟0秒') {
          this.onSubmit();
        }
      }
    },
    created() {
      console.log('created');
      this.checkUser();
      this.doAuth();
    },
    mounted() {
      this.setCountDown();
    }
  })
</script>
