
@{
  Layout = null;
}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Scripts.Render("~/bundles/axios")
@Styles.Render("~/Content/elementcss")

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>安阳市人民警察训练学校在线考试系统</title>
  <link href="~/Static/css/default.css" rel="stylesheet" />
  <style>
    body {
      background-color: #f9f9f9;
    }

    .container {
      height: 100vh;
      box-sizing: border-box;
      padding: 40px;
      padding-top: 60px;
    }

      .container .header {
        text-align: center;
        margin-bottom: 1rem;
      }

        .container .header img {
          width: 5rem;
        }

        .container .header .title {
          margin-top: 1rem;
          font-weight: 300;
        }

      .container .main {
        display: flex;
        justify-content: center;
      }

        .container .main .login-card {
          width: 20rem;
          border: 1.2px solid #EBEEF5
        }

          .container .main .login-card .login-content {
            padding-bottom: 20px;
          }

            .container .main .login-card .login-content input {
              margin-top: 0.5rem;
            }

          .container .main .login-card .login-btn {
            width: 100%;
          }
  </style>
</head>
<body>
  <div id="app" class="container">
    <div class="header">
      <img src="~/Static/images/logo.png" />
      <h2 class="title">登入考试系统</h2>
    </div>
    <div class="main">
      <el-card class="login-card" shadow="never">
        <div class="login-content">
          账号
          <el-input placeholder="请输入账号" v-model="account" clearable></el-input>
        </div>
        <div class="login-content">
          密码
          <el-input placeholder="请输入密码" v-model="password" type="password"></el-input>
        </div>
        <el-button type="success" class="login-btn" @@click="login">登陆</el-button>
      </el-card>
    </div>
  </div>
</body>
</html>
<script>
  new Vue({
    el: '#app',
    data: {
      account: '',
      password: ''
    },
    methods: {
      login: function () {
        axios.post('/Login/Index', {
          account: this.account,
          password: this.password
        }).then(res => {
          const { data } = res;
          if (!data.code) {
            localStorage.setItem('id', data.id);
            localStorage.setItem('account', data.account);
            localStorage.setItem('name', data.name);
            localStorage.setItem('roleId', data.roleId);
            localStorage.setItem('role', data.role);
            localStorage.setItem('loginTime', data.loginTime);
            localStorage.setItem('endTime', data.endTime);

            window.location.href = "/Home/Index";
          } else {
            this.$message.error(data.errMessage);
          }
        });
      }
    }
  });
</script>
